In [1]:
# Convert given hrs & mins in second

In [2]:
def conv(hrs,min):
  total_sec = 0
  hrs_sec = hrs * 3600
  min_sec = min * 60  

  total_sec = hrs_sec + min_sec

  return total_sec
conv(hrs=int(input("Enter number of hours : ")),min=int(input("Enter number of minutes :")))

Enter number of hours : 1
Enter number of minutes :10

4200

In [3]:
# Write code to find the average of ‘n’
# numbers entered by the user to function avg ( ).
# Ex: avg (10, 20, 30, 40) => average is: 70
# avg (5, 10, 15) => average is: 10

In [35]:
n1 = int(input("Enter the total numbers : "))

sum = 0

for i in range(n1):

  var1 = int(input("Number : "))

  sum = sum + var1
avg = sum / n1

print("Average is :",avg)

Enter the total numbers : 3
Number : 5
Number : 10
Number : 15
Average is : 10.0

In [9]:
# Write a code to accept a number & print
# in words.
# Ex: 123
# Three
# Two
# One

In [12]:
dict1 = {
    '1' : "One",
    '2' : "Two",
    '3' : "Three",
    '4' : "Four",
    '5' : "Five",
    '6' : "Six",
    '7' : "Seven",
    '8' : "Eight",
    '9' : "Nine",
    '0' : "Zero"
}

var1 = input("Enter the number : ")

for i in var1:
  print(dict1[i],"\n")

Enter the number : 567
Five

Six

Seven

In [13]:
#  Create class

In [21]:
class Maths:
  def __init__(self,a,b):
    self.a = a
    self.b = b
  
  def add(self):
    return self.a + self.b
  
  def div(self):
    return self.a / self.b
  
  def sub(self):
    return self.a - self.b
  
  def mul(self):
    return self.a * self.b
  
  def display(self):
    print('Sum of nums is : ',self.add())
    print('Div is : ',self.div())
    print("Sub is : ", self.sub())
    print("Mul is : ",self.mul())
m1 = Maths(10,5)
m1.display()

Sum of nums is :  15
Div is :  2.0
Sub is :  5
Mul is :  50

In [22]:
# Convert Paise in Rupees &
# Paises
# Ex: 350 is 3 Rupees 50 Paise
# 3.50 print Rupees: 3
# Paise: 50

In [23]:
def conv(rps):
  total_amt = 0
  rps1 = 0
  rps2 = 0
  
  rps1 = rps // 100
  rps2 = rps % 100

  return f"Rupees {rps1}, paise {rps2}"

  
conv(rps = int(input("Enter the amount :")))

Enter the amount :350

'Rupees 3, paise 50'

In [24]:
# Accept String & print only alternate
# characters on a string.

In [25]:
var1 = input("Enter the string here")
lng = len(var1)

for i in range(0,lng-1,2):
  print(var1[i],end="_")

Enter the string hereHelloThisIsMe
H_l_o_h_s_s_

In [26]:
Create menu driven code for
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div

In [ ]:
while True:
  var1 = input('''1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div
Enter choice :- ''')
  if var1=="1":
    a = int(input("num1"))
    b = int(input("num2"))
  
  elif var1 == "2":
    print("Sum :- ",a+b)
  
  elif var1 == "3":
    print("Sub :- ",a-b)
  
  elif var1 == "4":
    print("Mul :- ",a*b)

  elif var1=="5":
    print("Div :-",a/b)

1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div
Enter choice :- 1
num110
num25
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div
Enter choice :- 2
Sum :-  15
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div
Enter choice :- 3
Sub :-  5

In [ ]:
#  Print
# 1
# 0 1
# 0 1 0
# 1 0 1 0
# 1 0 1 0 1

In [36]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j%2,end=" ")
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1